
[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "ThirdParty/LLGL"]
	path = ThirdParty/LLGL
	url = https://github.com/LukasBanana/LLGL
[submodule "ThirdParty/tinygltf"]
	path = ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
